/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.d-flex{
    display: flex;
    height: calc(100vh - 100px);
}

/* Sezione sidebar */

.sidebar{
    background-color: #000;
    flex-direction: column;
    width: 50px;
    flex-shrink: 0;
    display: flex;
}

.sidebar p{
    display: none;
}

#big-logo{
    display: none;
}

.sidebar .sidebar-icons{
    width: 38px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 5px;
    color: white;
}

.grey-icon{
    color: #797C80;
}

.sidebar-icons img{
    margin: 5px auto;
}

.sidebar .playlist-section{
    display: none;
}

.sidebar .bottom-icons{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.bottom-icons h3, .bottom-icons hr{
    display: none;
}

#download{
    height: 25px;
    margin-bottom: 10px;
}

#profile{
    background-color: grey;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-bottom: 10px;
    flex-shrink: 0;
}

/* Sezione Header */

.main-section{
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #141922;

}

header{
    flex-direction: row;
    background-color: rgba(8,11,18,0.7);
    height: 100px;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    right: 0;
}

header #upgrade-btn{
    color: white;
    padding: 15px 40px;
    background-color: transparent;
    font-weight: 800;
    border-radius: 50px;
    border: 1px solid white;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

/* .space-header{
    height: 12%;
    background-color: #141922;
} */

/* Main contents */

main{
    padding: 0 20px;
}

ul.categories{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.categories li{
    display: inline-block;
    margin: 0 10px 50px 10px;
}

.categories li hr{
    width: 40%;
    margin: auto;
    border-color: #ADFF2F;
}

.categories li a{
    text-decoration: none;
    color: #797C80;
    font-weight: 700;
}

/* Sezione album */

.main-albums{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

.albums{
    display: flex;
    justify-content: space-between;
    width: calc(100% /2);
    margin: 10px auto;
}

.albums h3{
    color: white;
    margin: 15px 0 8px 0;
    text-align: center;
}

.albums p{
    color: #797C80;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.albums img{
    max-width: 100%;
}

.content-album{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 200px;
}

main h2{
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

main p{
    color: #797C80;
    font-weight: 600;
}

.circle-img{
    border-radius: 50%;
}

/* Player section */

footer.player{
    background-color: #282828;
    height: 100px;
    width: 100%;
    display: flex;
    color: white;
}

.left-player{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 30%;
    padding-left: 10px;
}

.left-player .player-info{
    margin-left: 10px;
}

.left-player .player-info p{
    color: #797C80;
    font-weight: 600;
}

.left-player .player-icons{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    color: #797C80;
    font-size: 18px;
}

.left-player img{
    max-width: 50px;
    max-height: 50px;
}

.middle-player{
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.middle-player .top-mid{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.middle-player .bottom-mid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom-mid span{
    padding: 0 10px;
    font-weight: 600;
}

.music-bar{
    height: 6px;
    width: 70%;
    background-color: #797C80;
    border-radius: 20px;
}

.music-bar .fill-bar{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
}

.audio-bar{
    height: 6px;
    width: 80px;
    background-color: #797C80;
    border-radius: 20px;
}

.audio-bar .fillaudio-bar{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
}

.right-player{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 30%;
    flex-shrink: 1;
}


.right-player i{
    padding: 0 5px;
}