
/* Media query 768px */

@media screen and (min-width: 768px){
    
    header{
        width: calc(100% - 250px);
    }
    .sidebar{
        width: 250px;
        padding: 0 20px;
    }

    .sidebar .sidebar-icons{
        align-self: flex-start;
    }

    #small-logo{
        display: none;
    }

    #big-logo{
        display: inline-block;
        height: 50px;
    }

    .sidebar p{
        display: inline-flex;
        font-weight: bold;
        padding: 20px 10px;
        flex-shrink: 0;
    }

    .sidebar-content{
        display: flex;
    }

    .sidebar .playlist-section{
        display: flex;
    }

    .playlist-section p{
        padding: 10px 0;
        display: inline-flex;
    }

    .playlist-section .create-play{
        display: flex;
        flex-direction: row;
        padding: 10px 0;
    }

    .create-play h4{
        align-self: center;
        flex-shrink: 0;
    }

    .fas.fa-plus-square{
        color: #797C80;
        padding-right: 10px;
    }

    .bottom-icons #download{
        display: flex;
        align-self: center;
        
    }

    .bottom-icons p{
        font-size: 15px;
        color: #797C80;
    }

    .bottom-icons h3{
        display: inline-flex;
        flex-shrink: 0;
        align-self: center;
        padding-left: 10px;
    }

    .bottom-icons hr{
        display: inline-flex;
        width: 210px;
        border-color: #797C80;
        margin-top: -10px;
        margin-bottom: 5px;
    }

    .right-player{
        padding-right: 10px;
    }

    .audio-bar{
        width: 150px;
    }

}

/* Media query 992px */

@media screen and (min-width: 992px){
    
    .albums{
        width: calc(100% / 3);
    }
} 

/* Media query 1200px */

@media screen and (min-width: 1200px){
    .albums{
        width: 140px;
        justify-content: flex-start;
        margin: 0 10px 0 0;
    }

    .albums h3{
        font-size: 1em;
    }

    .albums p{
        font-size: 12px;
    }

    #foryou, #popular{
      width: calc(100% / 2);
    }

    #foryou .albums, #popular .albums{
        margin: 0 20px 0 0;
    }

}